/*  標籤基本樣式  ----------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: center;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--neutral-900);
}

li {
  vertical-align: middle;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

/* 通用樣式 */

h1 {
  /* TW/Headings/H1 */
  font-size: 40px;
  font-weight: 700;
  line-height: 120%; /* 48px */
  /* letter-spacing: 0.05em;  */
}

h2 {
  /* TW/Headings/H2 */
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2; /* 38.4px */
  letter-spacing: 1.6px;
}

h3 {
  font-style: 28px;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  /* letter-spacing: 0.05em; */
}

h4 {
  /* TW/Headings/H4 */
  font-size: 24px;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  /* letter-spacing: 0.05em;     */
}

h5 {
  /* TW/Headings/H5 */
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: 0.05em;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.text-lg {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}

.text-md {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 60px */
}
.text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.font-weight-400 {
  font-weight: 400;
}

@media (max-width: 767px) {
  .h3-md {
    font-size: 28px;
  }
  .h4-md {
    font-size: 24px;
  }
  .h5-md {
    font-size: 20px;
  }
  .h6-md {
    font-size: 16px;
  }
  .text-lg-md {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .text-md-md {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 60px */
  }
  .text-sm-md {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

@media (max-width: 576px) {
  .h3-sm {
    font-size: 28px;
  }
  .h4-sm {
    font-style: 24px;
  }
  .h5-sm {
    font-size: 20px;
  }
  .h6-sm {
    font-size: 16px;
  }
  .text-lg-sm {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .text-md-sm {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 60px */
  }
  .text-sm-sm {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

.text-primary {
  color: var(--primary-400);
}

.text-danger-300 {
  color: var(--functional-danger-300);
}

.text-600 {
  color: var(--neutral-600);
}

.text-500 {
  color: var(--neutral-500);
}

.text-100 {
  color: var(--neutral-100);
}
.text-highlight {
  color: var(--primary-400);
}

.text-white {
  color: var(--neutral-0);
}

.text-600 {
  color: var(--neutral-600);
}

.line-through {
  text-decoration: line-through;
}

.bg-primary {
  background-color: var(--primary-300);
}

.bg-100 {
  background-color: var(--neutral-100);
}

.py-64 {
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
}

.py-32 {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.py-24 {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}

.py-16 {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.py-12 {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

.pb-48 {
  padding-bottom: var(--spacing-3xl);
}

.pb-32 {
  padding-bottom: var(--spacing-xl);
}

.pr-24 {
  padding-right: 24px;
}

@media (max-width: 767px) {
  .p-md-24 {
    padding: 24px;
  }
  .py-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .px-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-sm-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-sm-32 {
    padding-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .px-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-sm-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mb-64 {
  margin-bottom: var(--spacing-5xl);
}

.mb-48 {
  margin-bottom: var(--spacing-3xl);
}

.mb-32 {
  margin-bottom: var(--spacing-xl);
}

.mb-24 {
  margin-bottom: var(--spacing-l);
}

.mb-16 {
  margin-bottom: var(--spacing-m);
}

.mb-12 {
  margin-bottom: var(--spacing-s);
}

.mb-8 {
  margin-bottom: var(--spacing-xs);
}

.mb-4 {
  margin-bottom: var(--spacing-xxs);
}

.mr-48 {
  margin-right: 48px;
}
.mr-40 {
  margin-right: 40px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-12 {
  margin-right: 12px;
}
.mr-8 {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .mb-md-0 {
    margin-bottom: 0px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-12 {
    margin-bottom: 12px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  /*  */
  .mr-md-16 {
  margin-right: 16px;
}
}

@media (max-width: 576px) {
  .mr-sm-0 {
    margin-right: 0;
  }
  .mr-sm-16 {
    margin-right: 16px;
  }
  .mr-sm-4 {
    margin-right: 4px;
  }
  .mr-sm-8 {
    margin-right: 8px;
  }
}

/* */

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  /* border: 1px solid grey; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-1 {
  width: calc(100% / 12);

  padding-left: 12px;
  padding-right: 12px;
}

.col-2 {
  width: calc((100% / 12) * 2);

  padding-left: 12px;
  padding-right: 12px;
}
.col-3 {
  width: calc((100% / 12) * 3);

  padding-left: 12px;
  padding-right: 12px;
}
.col-4 {
  width: calc((100% / 12) * 4);
  padding-left: 12px;
  padding-right: 12px;
}
.col-5 {
  width: calc((100% / 12) * 5);
  padding-left: 12px;
  padding-right: 12px;
}
.col-6 {
  width: calc((100% / 12) * 6);

  padding-left: 12px;
  padding-right: 12px;
}
.col-7 {
  width: calc((100% / 12) * 7);

  padding-left: 12px;
  padding-right: 12px;
}
.col-8 {
  width: calc((100% / 12) * 8);

  padding-left: 12px;
  padding-right: 12px;
}
.col-9 {
  width: calc((100% / 12) * 9);

  padding-left: 12px;
  padding-right: 12px;
}
.col-10 {
  width: calc((100% / 12) * 10);

  padding-left: 12px;
  padding-right: 12px;
}
.col-1 {
  width: calc((100% / 12) * 11);

  padding-left: 12px;
  padding-right: 12px;
}
.col-12 {
  width: calc((100% / 12) * 12);

  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 757px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .col-md-1 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4);
  }

  .col-md-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 2);
  }

  .col-md-3 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 3);
  }

  .col-md-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 4);
  }
}

@media (max-width: 576px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .col-sm-1 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4);
  }

  .col-sm-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 2);
  }

  .col-sm-3 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 3);
  }

  .col-sm-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 4);
  }
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

@media (max-width: 767px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}

@media (max-width: 576px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-24 {
  gap: 24px;
}

.border-bottom {
  border-bottom: 1px solid var(--neutral-300);
}
